// Load the more framework
@import '../more';

// Add some nice grid styles
.container {
	background-color: #CCCCCC;
}

.column, .columns {
	background-color: rgba(100, 100, 100, 0.2);
	color: #FFFFFF;
	border-bottom: 1px solid #666666;
}

// General test styles
div.test {
	width: 150px;
	height: 150px;
	margin: 10px;
	background-color: rgba(100, 100, 100, 0.5);
	display: inline-block;
	
	p {
		text-align: center;
		padding: 10px;
	}
	
	p.small {
		font-size: 0.5em;
	}
}

// Vendor prefix tests
#border-radius {
	#more > .border-radius(10px);
}

#box-shadow {
	#more > .box-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}

#column-count {
	#more > .column-count(2);
}

#column-gap {
	#more > .column-count(2);
	#more > .column-gap(50px);
}

#box-sizing {
	#more > .box-sizing(border-box);
	border: 20px solid #666666;
	float: left;
}

#transition {
	#more > .transition(background 500ms ease);
}

#transition:hover {
	background-color: #CCCCCC;
}

#transform {
	#more > .transform(rotate(10deg));
}

#opacity {
	#more > .opacity(0.5);
}

// Helpers tests
#circle {
	#more > .circle(150px);
}

#text-shadow {
	#more > .text-shadow(5px, 5px, 3px, #000000);
}

#alpha-background {
	#more > .alpha-background(#FFCCDD, 0.5);
}