[submodule "assets/less/more"]
	path = assets/less/more
	url = git://github.com/Wolfy87/more.git
[submodule "assets/css/normalize.css"]
	path = assets/css/normalize.css
	url = git://github.com/jonathantneal/normalize.css.git
