// Load more
@import 'assets/less/more/more';

// Specify colours
@text-color: #5E5E5E;
@link-color: #00AEF2;

// Page styles
body {
	font-size: 16px;
	font-family: 'Arvo', serif;
	color: @text-color;
	background: #FFFFFF url('../images/graphy.png') repeat top left;
}

// Text
a {
	color: @link-color;
	#more .transition(color 500ms ease);
}

a:hover {
	color: darken(@link-color, 20%);
}

// Main block level elements
header {
	text-align: center;
	margin-top: 40px;
	
	h1 {
		font-size: 5em;
		line-height: 1em;
		margin: 0;
	}
	
	h2 {
		margin: 0;
	}
}