// Load more
@import 'assets/less/more/more';

// Specify colours
@text-color: #5E5E5E;
@link-color: #00AEF2;

// Page styles
body {
	font-size: 16px;
	font-family: 'Arvo', serif;
	color: @text-color;
	background: #FFFFFF url('../images/graphy.png') repeat top left;
}

// Text
a {
	color: @link-color;
	#more .transition(color 500ms ease);
}

a:hover {
	color: darken(@link-color, 20%);
}

// Main block level elements
div.container {
	#more .alpha-background(#FFFFFF, 0.7);
}

header {
	text-align: center;
	margin-top: 40px;
	
	h1 {
		font-size: 5em;
		line-height: 1em;
		margin: 0;
	}
	
	h2 {
		margin: 0;
	}
}

aside.navigation {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		a {
			color: #FFFFFF;
			text-decoration: none;
			display: block;
			padding: 5px;
			margin: 10px 0;
			background-color: darken(@link-color, 10%);
			#more .transition(background 650ms ease);
			#more .border-radius(6px);
			text-align: center;
		}
		
		a:hover {
			background-color: darken(@link-color, 30%);
		}
	}
}