// This is a adjustable grid system
// By overwriting the variables below you can customise it however you want
@grid-columns: 16;
@grid-gutter-width: 20;
@grid-width: 960;

// Set up the container, and everything within it
.container {
	width: @grid-width + 0px;
	margin-left: auto;
	margin-right: auto;
	
	// Function for generating the column width
	.column-width(@column) {
		width: @column * (@grid-width / @grid-columns - @grid-gutter-width) + (@column - 1) * @grid-gutter-width + 0px;
	}
	
	// Function for generating the append and prepend padding
	.column-prepend-padding(@column) {
		padding-left: @column * (@grid-width / @grid-columns - @grid-gutter-width) + (@column - 1) * @grid-gutter-width + 20px;
	}
	
	.column-append-padding(@column) {
		padding-right: @column * (@grid-width / @grid-columns - @grid-gutter-width) + (@column - 1) * @grid-gutter-width + 20px;
	}
	
	// Column class, used on all column widths
	.columns, .columns {
		float: left;
		display: inline;
		margin-left: @grid-gutter-width / 2 + 0px;
		margin-right: @grid-gutter-width / 2 + 0px;
	}
	
	// Alpha and omega classes for nested columns
	.column.alpha, .columns.alpha {
		margin-left: 0;
	}
	
	.column.omega, .columns.omega {
		margin-left: 0;
	}
	
	// Columns
	.one.column {
		.column-width(1);
	}
	
	.two.columns {
		.column-width(2);
	}
	
	.three.columns {
		.column-width(3);
	}
	
	.four.columns {
		.column-width(4);
	}
	
	.five.columns {
		.column-width(5);
	}
	
	.six.columns {
		.column-width(6);
	}
	
	.seven.columns {
		.column-width(7);
	}
	
	.eight.columns {
		.column-width(8);
	}
	
	.nine.columns {
		.column-width(9);
	}
	
	.ten.columns {
		.column-width(10);
	}
	
	.eleven.columns {
		.column-width(11);
	}
	
	.twelve.columns {
		.column-width(12);
	}
	
	.thirteen.columns {
		.column-width(13);
	}
	
	.fourteen.columns {
		.column-width(14);
	}
	
	.fifteen.columns {
		.column-width(15);
	}
	
	.sixteen.columns {
		.column-width(16);
	}
	
	// Prepends
	.prepend-with-one {
		.column-prepend-padding(1);
	}
	
	.prepend-with-two {
		.column-prepend-padding(2);
	}
	
	.prepend-with-three {
		.column-prepend-padding(3);
	}
	
	.prepend-with-four {
		.column-prepend-padding(4);
	}
	
	.prepend-with-five {
		.column-prepend-padding(5);
	}
	
	.prepend-with-six {
		.column-prepend-padding(6);
	}
	
	.prepend-with-seven {
		.column-prepend-padding(7);
	}
	
	.prepend-with-eight {
		.column-prepend-padding(8);
	}
	
	.prepend-with-nine {
		.column-prepend-padding(9);
	}
	
	.prepend-with-ten {
		.column-prepend-padding(10);
	}
	
	.prepend-with-eleven {
		.column-prepend-padding(11);
	}
	
	.prepend-with-twelve {
		.column-prepend-padding(12);
	}
	
	.prepend-with-thirteen {
		.column-prepend-padding(13);
	}
	
	.prepend-with-fourteen {
		.column-prepend-padding(14);
	}
	
	.prepend-with-fifteen {
		.column-prepend-padding(15);
	}
	
	// Appends
	.append-with-one {
		.column-append-padding(1);
	}
	
	.append-with-two {
		.column-append-padding(2);
	}
	
	.append-with-three {
		.column-append-padding(3);
	}
	
	.append-with-four {
		.column-append-padding(4);
	}
	
	.append-with-five {
		.column-append-padding(5);
	}
	
	.append-with-six {
		.column-append-padding(6);
	}
	
	.append-with-seven {
		.column-append-padding(7);
	}
	
	.append-with-eight {
		.column-append-padding(8);
	}
	
	.append-with-nine {
		.column-append-padding(9);
	}
	
	.append-with-ten {
		.column-append-padding(10);
	}
	
	.append-with-eleven {
		.column-append-padding(11);
	}
	
	.append-with-twelve {
		.column-append-padding(12);
	}
	
	.append-with-thirteen {
		.column-append-padding(13);
	}
	
	.append-with-fourteen {
		.column-append-padding(14);
	}
	
	.append-with-fifteen {
		.column-append-padding(15);
	}
}

// Clear the container
// From Skeleton - https://github.com/dhgamache/Skeleton
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// Clear class for use with br tags
// Also from Skeleton
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}