// This is a adjustable grid system
// By overwriting the variables below you can customise it however you want
@grid-columns: 16;
@grid-gutter-width: 20;
@grid-width: 960;

// Set up the container, and everything within it
.container {
	width: @grid-width + 0px;
	margin-left: auto;
	margin-right: auto;
	
	// Function for generating the column width
	.column-width(@column) {
		width: @column * (@grid-width / @grid-columns - @grid-gutter-width) + (@column - 1) * @grid-gutter-width + 0px;
	}
	
	// Function for generating the prefix and suffix margins
	.column-prefix(@column) {
		padding-left: @column * (@grid-width / @grid-columns - @grid-gutter-width) + (@column - 1) * @grid-gutter-width + @grid-gutter-width + 0px;
	}
	
	.column-suffix(@column) {
		padding-right: @column * (@grid-width / @grid-columns - @grid-gutter-width) + (@column - 1) * @grid-gutter-width + @grid-gutter-width + 0px;
	}
	
	// Styles passed over all columns
	.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16 {
		float: left;
		display: inline;
		margin-left: @grid-gutter-width / 2 + 0px;
		margin-right: @grid-gutter-width / 2 + 0px;
	}
	
	// Classes for removing the side margins for nested columns
	.alpha {
		margin-left: 0;
	}
	
	.omega {
		margin-right: 0;
	}
	
	// Columns
	.span-1 {
		.column-width(1);
	}
	
	.span-2 {
		.column-width(2);
	}
	
	.span-3 {
		.column-width(3);
	}
	
	.span-4 {
		.column-width(4);
	}
	
	.span-5 {
		.column-width(5);
	}
	
	.span-6 {
		.column-width(6);
	}
	
	.span-7 {
		.column-width(7);
	}
	
	.span-8 {
		.column-width(8);
	}
	
	.span-9 {
		.column-width(9);
	}
	
	.span-10 {
		.column-width(10);
	}
	
	.span-11 {
		.column-width(11);
	}
	
	.span-12 {
		.column-width(12);
	}
	
	.span-13 {
		.column-width(13);
	}
	
	.span-14 {
		.column-width(14);
	}
	
	.span-15 {
		.column-width(15);
	}
	
	.span-16 {
		.column-width(16);
	}
	
	// Prefixes
	.prefix-1 {
		.column-prefix(1);
	}
	
	.prefix-2 {
		.column-prefix(2);
	}
	
	.prefix-3 {
		.column-prefix(3);
	}
	
	.prefix-4 {
		.column-prefix(4);
	}
	
	.prefix-5 {
		.column-prefix(5);
	}
	
	.prefix-6 {
		.column-prefix(6);
	}
	
	.prefix-7 {
		.column-prefix(7);
	}
	
	.prefix-8 {
		.column-prefix(8);
	}
	
	.prefix-9 {
		.column-prefix(9);
	}
	
	.prefix-10 {
		.column-prefix(10);
	}
	
	.prefix-11 {
		.column-prefix(11);
	}
	
	.prefix-12 {
		.column-prefix(12);
	}
	
	.prefix-13 {
		.column-prefix(13);
	}
	
	.prefix-14 {
		.column-prefix(14);
	}
	
	.prefix-15 {
		.column-prefix(15);
	}
	
	// Suffixes
	.suffix-1 {
		.column-suffix(1);
	}
	
	.suffix-2 {
		.column-suffix(2);
	}
	
	.suffix-3 {
		.column-suffix(3);
	}
	
	.suffix-4 {
		.column-suffix(4);
	}
	
	.suffix-5 {
		.column-suffix(5);
	}
	
	.suffix-6 {
		.column-suffix(6);
	}
	
	.suffix-7 {
		.column-suffix(7);
	}
	
	.suffix-8 {
		.column-suffix(8);
	}
	
	.suffix-9 {
		.column-suffix(9);
	}
	
	.suffix-10 {
		.column-suffix(10);
	}
	
	.suffix-11 {
		.column-suffix(11);
	}
	
	.suffix-12 {
		.column-suffix(12);
	}
	
	.suffix-13 {
		.column-suffix(13);
	}
	
	.suffix-14 {
		.column-suffix(14);
	}
	
	.suffix-15 {
		.column-suffix(15);
	}
}

// Clear the container
// From Skeleton - https://github.com/dhgamache/Skeleton
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

// Clear class for use with br tags
// Also from Skeleton
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}